@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  --background-color: #fbfbfb;
  --white-color: #ffffff;
  --white-second-color: #fefefe;
  --text-color: #575757;
  --title-color: #141414;
  --primary-color: #fe8400;
  --tint-color: #ffe4c6;
  --montserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
}

/* Custom HTML Variables */

.h1,
.h2,
.h3,
.h4 {
  font-family: var(--montserrat);
  line-height: 1.23;
}

.h1 {
  font-size: clamp(1.75rem, 1.2rem + 2.2vw, 3rem);
}

.h2 {
  font-size: clamp(1.5rem, 1.1rem + 1.6vw, 2rem);
}

.h3 {
  font-size: clamp(1.25rem, 1rem + 1vw, 1.625rem);
}

.h4 {
  font-size: clamp(1rem, 0.9rem + 0.6vw, 1.375rem);
}

.body-sm,
.body-lg,
.body-md {
  font-family: var(--poppins);
}

.body-sm {
  font-size: clamp(0.875rem, 0.82rem + 0.2vw, 1rem);
  line-height: 1.5;
}

.body-lg {
  font-size: clamp(1rem, 0.9rem + 0.6vw, 1.5rem);
  line-height: 1.5;
}

.body-md {
  font-size: clamp(0.875rem, 0.8rem + 0.4vw, 1.125rem);
  line-height: 1.5;
}

.vertical-plug {
  width: 2px;
  align-self: stretch;
}

.horizontal-plug {
  height: 2px;
  width: 100%;
}

.section-title {
  position: relative;
  z-index: 10;
  padding-bottom: 0.5rem;
  font-weight: 500;
  border-bottom: 2px var(--primary-color) solid;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

section {
  position: relative;
  z-index: 999;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type="file"] {
  max-width: 100%;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--white-second-color);
}

/* SCROLL */

body::-webkit-scrollbar {
  width: 0.25rem; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: var(--background-color); /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  max-width: 1440px;
  width: 100%;
}

main section#hero {
  gap: 2rem;
  position: relative;
  padding-block: 2.22%;
  min-height: 742px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

main section#hero .bg-black {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 742px;
  width: 41%;
  background-color: var(--title-color);
}

main section#hero header {
  z-index: 2;
  padding-inline: clamp(16px, 11.25vw, 162px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main section#hero header h1,
footer p.h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--primary-color);
}

main section#hero header .left-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(3rem, 7vw, 6.125rem);
}

main section#hero header .left-box nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 2.5vw, 2rem);
  mix-blend-mode: difference;
}

main section#hero header .left-box nav ul a {
  color: var(--title-color);
  transition: color 0.35s;
}

main section#hero header .left-box nav ul a:hover {
  color: var(--primary-color);
}

main section#hero header .left-box .auth-box {
  background-color: var(--primary-color);
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
}

main section#hero header .left-box .auth-box .vartical-plug {
  background-color: var(--title-color);
}

main section#hero header .left-box .auth-box button {
  padding: 0.5rem 1rem;
  transition: background-color 0.5s;
  background-color: transparent;
  color: var(--title-color);
}

main section#hero header .left-box .auth-box button:hover {
  background-color: var(--title-color);
  color: var(--primary-color);
}

main section#hero .content {
  min-height: 545px;
  position: relative;
  padding-inline: 10rem;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  z-index: 2;
}

main section#hero .content .textbox {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.15);
  max-width: 528px;
  z-index: 3;
}

main section#hero .content .textbox .topbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main section#hero .content .textbox .topbox h2 {
  color: var(--white-color);
  font-weight: 800;
}

main section#hero .content .textbox .topbox p {
  color: var(--white-color);
}

main section#hero .content .textbox button {
  padding: 0.75rem 3.5rem;
  color: var(--title-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.35s;
}

main section#hero .content .textbox button:hover {
  color: var(--primary-color);
  background-color: var(--title-color);
}

main section#hero .content img {
  position: absolute;
  right: 0;
}

/* our sections */

main section#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

main section#about .content {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main section#about .content .textbox {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 38%;
  gap: 1.5rem;
}

main section#about .content .textbox p {
  color: var(--text-color);
}

main section#about .content .textbox a {
  font-weight: 600;
  color: var(--primary-color);
  transition: all 0.35s;
}

main section#about .content .textbox a:hover {
  color: var(--title-color);
}

main section#booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
}

main section#booking .content {
  width: 100%;
  min-height: 300px;
  background-color: var(--tint-color);
}

main section#cars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
}

main section#cars .content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

main section#cars .content ul li.card {
  display: flex;
  flex-direction: column;
  border: 1px #c4c4c4 solid;
  border-radius: 4px;
  padding: 2.5rem 1.5rem;
  gap: 0.75rem;
}

main section#cars .content ul li.card img.main {
  max-width: 320px;
}

main section#cars .content ul li.card .textbox {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

main section#cars .content ul li.card .textbox .title-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

main section#cars .content ul li.card .textbox .title-info p {
  font-weight: 500;
}

main section#cars .content ul li.card .textbox .title-info ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

main section#cars .content ul li.card .textbox .title-info ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

main section#cars .content ul li.card .textbox .bottom-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main section#cars .content ul li.card .textbox .bottom-info .daily-info {
  display: flex;
  flex-direction: column;
}

main
  section#cars
  .content
  ul
  li.card
  .textbox
  .bottom-info
  .daily-info
  p:nth-child(1) {
  color: var(--text-color);
}

main
  section#cars
  .content
  ul
  li.card
  .textbox
  .bottom-info
  .daily-info
  p:nth-child(2) {
  font-weight: 500;
}

main section#cars .content ul li.card .textbox .bottom-info button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--title-color);
  transition: all 0.35s;
}

main section#cars .content ul li.card .textbox .bottom-info button:hover {
  background-color: var(--title-color);
  color: var(--primary-color);
}

main section#cars .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

main section#cars .slider span {
  width: 16px;
  height: 16px;
  background-color: #eaeaea;
  border-radius: 999%;
}

main section#cars .slider span.active {
  background-color: var(--primary-color);
}

main section#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: 2.875rem;
  gap: 2.5rem;
}

main section#services .bg-black {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 395px;
  background-color: var(--title-color);
}

main section#services .textbox {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main section#services .textbox .section-title {
  color: var(--white-color);
}

main section#services .textbox p {
  color: var(--white-color);
  max-width: 480px;
  text-align: center;
}

main section#services ul {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

main section#services ul li.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.125rem;
  width: 277px;
  height: 322px;
  padding-inline: 1rem;
  text-align: center;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
}

main section#services ul li.card .title {
  font-weight: 500;
  color: var(--title-color);
}

main section#services ul li.card .description {
  color: var(--text-color);
}

main section#clients {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

main section#clients ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main section#clients ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 4px;
  border: 1px #c4c4c4 solid;
  padding: 3.75rem 1.5rem;
}

main section#clients ul li .title {
  font-weight: 500;
  color: var(--title-color);
}

main section#clients ul li .description {
  text-align: center;
  color: var(--text-color);
  max-width: 400px;
}

main section#info {
  padding: 4rem 10rem;
  width: 100%;
  background-color: var(--tint-color);
}

main section#info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

main section#info ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main section#info ul li .title {
  font-family: var(--poppins);
  color: var(--title-color);
  font-weight: 500;
  font-size: 2.5rem;
}

main section#info ul li .description {
  color: var(--text-color);
}

/* footer */
footer {
  width: 100%;
}

footer section#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 2.5rem;
  z-index: 2;
  width: 100%;
  position: relative;
}

footer .bg-black {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 524px;
  background-color: var(--title-color);
}

footer .content {
  z-index: 2;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(2.5rem, 5vw, 5.5rem);
  padding: 56px 40px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
}

footer .content form {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}

footer .content form .inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

footer .content form button {
  border-radius: 4px;
  color: var(--title-color);
  padding: 0.75rem 1.75rem;
  background-color: var(--primary-color);
  transition: all 0.35s;
}

footer .content form button:hover {
  background-color: var(--title-color);
  color: var(--primary-color);
}

.floating-input {
  padding: 18px 16px;
  border: 1px #c4c4c4 solid;
  background-color: var(--white-second-color);
  border-radius: 4px;
  position: relative;
  width: 100%;
  min-width: 400px;
  color: var(--text-color);
}

.floating-input input::placeholder,
.floating-input textarea::placeholder {
  color: transparent;
}

.floating-input label {
  position: absolute;
  left: 16px;
  top: 16px;
  pointer-events: none;
  padding: 0 4px;
  border-radius: 4px;
  transition: 0.2s ease all;
  color: var(--text-color);
}

/* Когда поле пустое — label внутри */
.floating-input input:placeholder-shown + label,
.floating-input textarea:placeholder-shown + label {
  top: 16px;
}

/* Когда фокус или есть текст — label наверху */
.floating-input input:focus + label,
.floating-input input:not(:placeholder-shown) + label,
.floating-input textarea:focus + label,
.floating-input textarea:not(:placeholder-shown) + label {
  display: flex;
  align-items: center;
  top: -16px;
  left: 8px;
  padding: 4px;
  background-color: var(--white-color);
}

footer p {
  color: var(--background-color);
  z-index: 2;
}

footer p span {
  color: var(--primary-color);
  font-weight: 600;
}

footer .horizontal-plug {
  z-index: 2;
  background-color: var(--background-color);
}

footer .bottom-box {
  padding: 0 10rem 2.5rem 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

footer .bottom-box ul.social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

footer .bottom-box ul.social-box li {
  transition: transform 0.5s;
}

footer .bottom-box ul.social-box li:hover {
  transform: scale(1.1);
}
